---

name: ansible lint

on:  # yamllint disable-line rule:truthy
  - push
  - pull_request

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: install dependencies
        run: pip3 install ansible ansible-lint yamllint

      - name: ansible lint
        run: ansible-lint

      - name: yamllint
        run: yamllint .
